body{
    margin:0;
    padding: 0;
    height: 100%;
    font-family: 'Syne Mono', monospace;
}




.img1{
    background-image: url(/image1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    position:relative;
    opacity:1;
    background-position:center;  
    background-repeat:no-repeat;
}

.img2{
    background-image: url(/image2.jpg);
    background-size: cover;
    min-height: 400px;
    background-position: center;
    background-attachment: fixed;
    
}

.img3{
        background-image: url(/image3.jpg);
        background-size: cover;
        min-height: 400px;
        background-position: center;
        background-attachment: fixed;
}

.img4{
    background-image: url(/last.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    position:relative;
    opacity:1;
    background-position:center;  
    background-repeat:no-repeat;

}

.section{
    text-align: center;
    padding: 10px 80px;
}

.section1{
    background-color:#f4f4f4;
    color:black;
    opacity: 0.90;
}

.section2{
    background-color: #111;
    color: #f4f4f4;
}

.section3{
    background-color:#111;
    color: #ffffff;
    
}


.text1 .border1 {
    background-color:#111;
    color:#fff;
    padding:20px;
  }

.text1 {
    text-align: center;
    padding-top: 25%;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: bold;
}

.text2{
    text-align: center;
    padding-top: 10%;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: bold;
}

.text3{
    text-align: center;
    padding-top: 10%;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: bold;
}



.text4{
    text-align: center;
    padding-top: 19%;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: bold;
}

  .text2 .border2{
    background-color:rgb(114, 51, 51);
    color:rgb(0, 0, 0);
    padding:20px;
  }

  .text3 .border3{
    background-color:rgb(114, 51, 51);
    color:rgb(0, 0, 0);
    padding:20px;
  }
  

  .text4 .border4{
    background-color:#e9c176;
    color:rgb(0, 0, 0);
    padding:20px;
    border-radius: 15px;
    opacity: 0.60;
  }

.border2{
    opacity: 0.85;
}
.border3{
    opacity: 0.90;
}
.border1{
    opacity: 0.90;
}